<div class="fragment_35936">
    <section id="about">
        <div class="container">

            <header class="section-header">
                <h3>
                    <lfr-editable id="title" type="text">About Us</lfr-editable>
                </h3>
                <lfr-editable id="description" type="rich-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </lfr-editable>
            </header>

            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <lfr-editable id="row1-description" type="rich-text" class="mb-5">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </lfr-editable>

                    <div class="icon-box">
                        <div class="icon"><i class="icon-shopping-cart"></i></div>
                        <h4 class="title">
                            <lfr-editable id="row1-link1" type="link">
                                <a href="">Eiusmod Tempor</a>
                            </lfr-editable>
                        </h4>
                        <lfr-editable id="row1-p1" type="rich-text" class="description mb-5">
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta
                            nobis est eligendi
                        </lfr-editable>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="icon-picture"></i></div>
                        <h4 class="title">
                            <lfr-editable id="row1-link2" type="link">
                                <a href="">Magni Dolores</a>
                            </lfr-editable>
                        </h4>
                        <lfr-editable id="row1-p2" type="rich-text" class="description mb-5">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum
                        </lfr-editable>
                    </div>

                    <div class="icon-box">
                        <div class="icon"><i class="icon-bar-chart"></i></div>
                        <h4 class="title">
                            <lfr-editable id="row1-link3" type="link">
                                <a href="">Dolor Sitema</a>
                            </lfr-editable>
                        </h4>
                        <lfr-editable id="row1-p3" type="rich-text" class="description mb-5">
                            Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat tarad limino ata
                        </lfr-editable>
                    </div>

                </div>

                <div class="col-lg-6 background order-lg-2 order-1">
                    <lfr-editable id="row1-img" type="image">
                        <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/about-img.svg" class="img-fluid"
                             alt="">
                    </lfr-editable>
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6">
                    <lfr-editable id="row2-img" type="image">
                        <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/about-extra-1.svg" class="img-fluid"
                             alt="">
                    </lfr-editable>
                </div>
                <div class="col-lg-6 pt-5 pt-lg-0">
                    <h4>
                        <lfr-editable id="row2-title" type="text">Voluptatem dignissimos provident quasi corporis
                            voluptates sit assumenda.
                        </lfr-editable>
                    </h4>
                    <lfr-editable id="row2-p1" type="rich-text">
                        <p>
                            Ipsum in aspernatur ut possimus sint. Quia omnis est occaecati possimus ea. Quas molestiae
                            perspiciatis occaecati qui rerum. Deleniti quod porro sed quisquam saepe. Numquam mollitia
                            recusandae non ad at et a.
                        </p>
                    </lfr-editable>
                    <lfr-editable id="row2-p2" type="rich-text">
                        <p>
                            Ad vitae recusandae odit possimus. Quaerat cum ipsum corrupti. Odit qui asperiores ea
                            corporis deserunt veritatis quidem expedita perferendis. Qui rerum eligendi ex doloribus
                            quia sit. Porro rerum eum eum.
                        </p>
                    </lfr-editable>
                </div>
            </div>

            <div class="row about-extra">
                <div class="col-lg-6 order-1 order-lg-2">
                    <lfr-editable id="row3-img" type="image">
                        <img src="https://bootstrapmade.com/demo/themes/NewBiz/img/about-extra-2.svg" class="img-fluid"
                             alt="">
                    </lfr-editable>
                </div>

                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1">
                    <h4>
                        <lfr-editable id="row3-title" type="text">Neque saepe temporibus repellat ea ipsum et. Id vel et
                            quia tempora facere reprehenderit.
                        </lfr-editable>
                    </h4>
                    <lfr-editable id="row3-p1" type="rich-text">
                        <p>
                            Delectus alias ut incidunt delectus nam placeat in consequatur. Sed cupiditate quia ea quis.
                            Voluptas nemo qui aut distinctio. Cumque fugit earum est quam officiis numquam. Ducimus
                            corporis autem at blanditiis beatae incidunt sunt.
                        </p>
                    </lfr-editable>
                    <lfr-editable id="row3-p2" type="rich-text">
                        <p>
                            Voluptas saepe natus quidem blanditiis. Non sunt impedit voluptas mollitia beatae. Qui esse
                            molestias. Laudantium libero nisi vitae debitis. Dolorem cupiditate est perferendis iusto.
                        </p>
                    </lfr-editable>
                    <lfr-editable id="row3-p3" type="rich-text">
                        <p>
                            Eum quia in. Magni quas ipsum a. Quis ex voluptatem inventore sint quia modi. Numquam est
                            aut fuga mollitia exercitationem nam accusantium provident quia.
                        </p>
                    </lfr-editable>
                </div>
            </div>
        </div>
    </section>
</div>
