$primary: #007bff;
$secondary: #74b5fc;
$white: #fff;

$primary-font: "Open Sans", sans-serif;
$secondary-font: "Montserrat", sans-serif;

$darken-primary: #004289;
$section-bg: #ecf5ff;
$section-title-color: #283d50;
$section-text-color: #556877;
